@import 'src/themes.scss';
.login-main-container{
    background-color:$the-blue ;
    display: flex;
    justify-content: center;
    height: 100svh;
    align-items: center;
    flex-direction: column;
}
.logo{
    padding-bottom: .6em;
}
:is(.form-container){
    background-color: $yellowish;
    border-radius: 20px;
    width:min(90% ,300px );
    color:$the-blue ;
}
:is(input){
    padding-block: .2em;
    outline: transparent;
    border-radius: 10px;

}
:is(button){
    background-color: $the-blue;
    padding-block: .2em;
    outline: transparent;
    border-radius: 10px;
    margin-top: .6rem;
    color: $yellowish;
}
:is(button:hover){
    background-color: $pinkish;
    color: $the-blue;
}
.alert{
    color: red;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
