<section class="diagonal">
    <div class="diagonal-content">
      <div class="diagonal-content-flex">
        <p>20+</p>
        <h4>groups</h4>
      </div>
      <div class="diagonal-content-flex">
        <p>10+</p>
        <h4>security personel</h4>
      </div>
      <div class="diagonal-content-flex">
        <p>30+</p>
        <h4>playground areas</h4>
      </div>
    </div>
  </section>
  <section class="diagonal2">
    <div class="diagonal-content">
      <div class="small-card border-yellow">
        <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'yellow', 'padding-right':'.2rem'}" size="lg"></fa-icon>
        <div>
          <h4>free wifi</h4>
          <p>enjoy our playground</p>
        </div>
      </div>
      <div class="small-card border-blue">
        <fa-icon [icon]="circlecheck" size="lg" [styles]="{ 'padding-right':'.2rem'}" size="lg"></fa-icon>
        <div>
          <h4>free wifi</h4>
          <p>enjoy our playground</p>
        </div>
      </div>
      <div class="small-card border-cyan">
        <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'cyan', 'padding-right':'.2rem'}" size="lg"></fa-icon>
        <div>
          <h4>free wifi</h4>
          <p>enjoy our playground</p>
        </div>
      </div>
    </div>
  </section>