<section class="pictures">
    <div class="center">
        <h2 class="miniheadings">Our fun Photo gallery</h2>
    </div>
    <div class="gallery">
      <div class="gallery-asset-container center">
        <img src="/assets/gallery1.jpg" class="gallery-asset border-25" loading="lazy" alt="" srcset="">
        </div>
        <div class="divided border-25">
            <img src="/assets/gallery2.jpg" class="border-25" loading="lazy" alt="" srcset="">
        <img src="/assets/gallery3.jpg" class="border-25" loading="lazy" alt="" srcset="">
        </div>
        
          <a routerLink="" class="divided border-25">
            <div id="divided" class="border-25">
              <div class="overlay border-25 center"><fa-icon [icon]="circle" [styles]="" size="lg"></fa-icon></div>
            </div>
          </a>
    </div>
    <div class="button-happyhour center">
        <a routerLink="" class="read-more">View more</a>
      </div>
  </section>