<div class="open-days">
    <div class="open-days-1">
      <h2>open days</h2>
      <div class="open-days-card">
        <ul><h3>Weekdays</h3>
          <li>Everyday : 5:00AM - 9:00PM</li>
        </ul>
      </div>
      <div class="open-days-card">
        <ul><h3>Weekdays</h3>
          <li>Everyday : 5:00AM - 9:00PM</li>
        </ul>
      </div>
      <div class="open-days-card">
        <ul><h3>Weekdays</h3>
          <li>Everyday : 5:00AM - 9:00PM</li>
        </ul>
      </div>
    </div>
    <div class="open-days-2">
      <img [lazyLoad]="'assets/Open.svg'" alt="" srcset="">
    </div>
  </div>