<app-navbar></app-navbar>
<body>
<a class="yt" routerLink="/contact-us">Contact us</a>
<section class="h1">
  <div class="wrapper">
    <h1 class="miniheadings color">What you find here</h1>
  </div>
</section>

<section class="full-width-split-screen">
  <img src="assets/girl-playing.jpg" alt="girl-playing" loading="lazy"/>
  <div class="pr-2">
    <p>
      Our Play areas are safe and unmatched in their design and fair pricing. We take all that we do here, very seriously.
    </p>
    <a routerLink="/blog" class="button">Keep reading</a>
  </div>
</section>

<section>
  <div class="wrapper">

    <p>
      Welcome to our children's paradise of play areas! 
      Our top priority is your child's safety and enjoyment.
       Our play areas are expertly crafted with the utmost care,
        ensuring they are not only fun but also safe for your little ones 
        to explore and create unforgettable memories. From sturdy structures 
        to soft landing surfaces, we've designed every detail to provide a secure
         environment for your children to play, learn, and grow. Come join the adventure, 
         where imagination knows no bounds, and fun never ends!
    </p>
  </div>
</section>

<section class="full-width-split-screen">
  <div class="accent">
    <p>
      At our children's wonderland, we're proud to ensure Special
       Needs Accessibility for every child. Our inclusive play areas
        are thoughtfully designed to accommodate children of all 
        abilities, fostering a welcoming and supportive environment.
         From wheelchair ramps and sensory-friendly spaces to trained
          staff who understand diverse needs, we're dedicated to making
           every child's visit a memorable and inclusive experience. 
           Come join the fun where every child can play, learn, and explore,
            regardless of their unique abilities
          </p>
    <p></p>
  </div>
  <img src='assets/accesibility.jpg' alt='Accesibility photo' loading="lazy">
</section>

<section class="">
  <div class="wrapper">
    <p>Step into a world of imagination and adventure with our themed play areas! At our children's wonderland, we've brought fantasy to life with captivating themed zones that transport young minds to exciting realms. From jungle expeditions to intergalactic odysseys, our themed play areas ignite creativity and exploration. Your child can swing through the trees as a daring explorer, or soar among the stars as an intrepid astronaut. These enchanting spaces are designed to spark imagination and provide endless fun. Join us for an unforgettable journey through our themed play areas, where the magic of play knows no bounds!</p>
</div>
</section>

<section class="full-width-split-screen">
    <img src='assets/Birthday2.jpg' alt=''>
  <div class="accent pr-2">
    <p>Make your child's special day even more magical with our enchanting Birthday Packages! At our children's wonderland, we offer a range of tailored birthday experiences that ensure a day filled with laughter, joy, and unforgettable memories.</p>
    <p>Book your child's next birthday celebration with us, and let us create a magical experience that will be treasured for years to come. Our Birthday Packages are designed to make your child feel like the star of the show, surrounded by friends and family in a world of whimsy and wonder!</p>
  </div>
</section>
<section class="">
  <div class="wrapper">
    
      <ul>
        <li><strong>Themed birthday parties</strong> Choose from a variety of enchanting themes like pirates, princesses, superheroes, and more. Our themed decorations, costumes, and activities will transport your child and their friends to a world of wonder.</li>
        <li><strong>Dedicated Party Host</strong>Our friendly and experienced party hosts will take care of every detail, from organizing games to serving food, so you can relax and enjoy the celebration.</li>
        <li><strong>Delicious Catering</strong>Indulge in a scrumptious feast with our delectable catering options, including kid-friendly snacks, meals, and a delightful birthday cake that's sure to please every palate.</li>
        <li><strong>Exclusive Party Space</strong>Enjoy a private party space for your group, complete with themed decorations, music, and entertainment, ensuring a truly immersive and magical experience.</li>
        <li><strong>Party Favors</strong>Each guest will receive exciting party favors to commemorate the day and take home a piece of the fun.</li>
        <li><strong>Themed Entertainment</strong>Let your child's imagination run wild with themed entertainment options like face painting, balloon animals, and interactive games.</li>
        <li><strong>Customization</strong>We're here to make your child's dream birthday come true. We can customize packages to suit your preferences and add special touches to make the celebration unique.</li>
      </ul>

    <p></p>
</div>
</section>

<section class="full-width-split-screen">
  <img src="assets/cafetaria.jpg" alt="food image" />
  <img src='assets/caf2.jpg' alt='cafeteria image' />
</section>
<section class="">
  <div class="wrapper">
    <p>Our delightful cafeteria is a hub of deliciousness where families can refuel and recharge during their visit. We understand that playtime can work up quite an appetite, so we've curated a menu that caters to both kids and adults.</p>

    <p>Our cafeteria offers a diverse menu, including fresh sandwiches, salads, and hot meals to satisfy even the pickiest eaters. And of course, we have a tempting selection of treats and desserts to sweeten the experience.</p>
</div>
</section>
</body>
<app-footer></app-footer>