<app-navbar></app-navbar>
<section class="hero">
    <div class="section1">
        <p class="welcome-message">Karibu watoto wetu!</p>
        <h1 class="header-hero">best <span class="pinkish">play</span> <br> <span class="pinkish">areas</span> for kids</h1>
        <a routerLink="" class="read-more">Read more</a>
    </div>
    <div class="section2">
        <img src="/assets/blackhero2.png" class="size-hero-image" alt="">
    </div>
</section>
<div class="mainsection">
    <section class="wavy">
        <div class="center">
            <h2 class="miniheadings">What is unique about us!</h2>
        </div>
        <img src="/assets/diversity.png" class="diversityimg" alt="" srcset="">
    </section>
    <div class="cards">
        <div class="card">
            <img src="/assets/Crayons.png" loading="lazy" class="cardimages cardimages-blue" alt="" srcset="">
            <h3>Area for Babies</h3>
            <p class="card-explanation">Children with better pre-reading skills , richer vocabularies</p>
            <a routerLink="">read more <fa-icon [icon]="arrow"></fa-icon></a>
        </div>
        <div class="card">
            <img src="/assets/Playing.png" loading="lazy" class="cardimages cardimages-light-blue" alt="" srcset="">
            <h3>Area for Babies</h3>
            <p class="card-explanation">Work without play makes jack a dull boy</p>
            <a routerLink="">read more <fa-icon [icon]="arrow"></fa-icon></a>
        </div>
        <div class="card">
            <img src="/assets/Mother.png" loading="lazy" class="cardimages cardimages-yellow" alt="" srcset="">
            <h3>Area for Babies</h3>
            <p class="card-explanation">Children who grow up oved are more confident.</p>
            <a routerLink="">read more <fa-icon [icon]="arrow"></fa-icon></a>
        </div>
    </div>

    <div>
        <div class="section-happy-hour">
            <div class="happy-image">
                <img src="assets/Kid-water.jpg" class="favourite-images" alt="" srcset="">
            </div>
            
            <div class="message">
                <h5>Happy Hours</h5>
                <p>Mon - Fri : <span>5-6PM </span></p>
                <p>Saturday <span> From6PM </span></p>
                <p>Sunday : <span>From 2PM</span></p>
            </div>
        </div>
        <div>
            <h3>A favourite place <br>for fun and joy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque provident qui cumque cum facere quam quod animi blanditiis sed numquam molestias modi vel voluptatibus saepe, vero mollitia magni, officia quisquam.</p>
            <a routerLink="" class="read-more">Read more</a>
        </div>
    </div>
    
</div>
