@import 'src/themes.scss';
.hero{
    height: 100svh;
    height: 100dvh;
    width: 100%;
    background-image: url('/assets/second3.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-message{
    padding: .3rem;
    background-color:$light-bluish;
    // color: #FFF;
    font-weight: 700;
    display: inline-block;
}
.header-hero{
    color: $white;
    font-weight: 900;
    font-size: 5rem;
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.pinkish{
    color: $pinkish;
}
.read-more{
    padding: .5em 2em;
    background-color: $yellowish;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    border: 5px dotted $white;
    color: $white;
    border-radius: 30px;
    box-shadow: 0 0 0 6px $yellowish;
}
.size-hero-image{
    height: 35rem;
    width: 100%;
}
.section1{
    width: 40%;
}
.section2{
    width: 40%;
}