@import 'src/themes.scss';
.hero{
    height: 100svh;
    height: 100dvh;
    width: 100%;
    background-image: url('/assets/second3.png');
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
   
}

.welcome-message{
    padding: .3rem;
    background-color:$light-bluish;
    // color: #FFF;
    font-weight: 700;
    display: inline-block;
}
.header-hero{
    color: $white;
    font-weight: 900;
    font-size: 4.5rem;
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.pinkish{
    color: $pinkish;
}
.size-hero-image{
    height: 100%;
    width: 100%;
}
.section1{
    padding-inline: 2em;
    padding-top:4em ;
}
.diversityimg{
    width: 100%;
}
.wavy{
    position: relative;
    min-height: 23rem;
    background-image: linear-gradient(rgb(184, 214, 255), rgba(184, 214, 255, 0))
}
.wavy::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12 0px;
    background-image:url('/assets/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.cards{
    margin-inline: 2.5rem;
}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    color: $the-blue;
}

.card > a{
    text-decoration: none;
    color: $yellowish;
    text-transform: capitalize;
}
.cardimages{
    width: 8rem;
    padding: 2px;
    border-radius: 50%;
}
.cardimages-blue{
    border: 2px dotted $the-blue;
}
.cardimages-light-blue{
    border: 2px dotted $light-bluish;
}
.cardimages-yellow{
    border: 2px dotted $yellowish;
}
.favourite-images{
    border-radius: 15px;
    // max-width:max( 85vw ,10px);
    width:85vw;
}
.happy-image{
    justify-content: center;
display: flex;
}
.message{
    display: inline-block;
    left: 2rem;
    color: #333;
background: #74f1f1ee;
padding: 1em;
border-radius: 15%;
border: 2px dotted white;
box-shadow: 0 0 0 6px $light-bluish;
transform: translateY(-43px);
 }
 .happyhour-maincontainer{
    padding-block: 3rem;
    padding-inline: 2rem;
 }
 .happyhour-explanation{
    line-height: 1.5rem;
    background-image: url('/assets/blob.svg');
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 .heading-happy{
    color: $the-blue;
 }
 .offers-maincontainer{
    padding-block: 3rem;
padding-inline: 2rem;
 }
 .offers{
    background-image: url('/assets/stacked.png');
    background-size: cover;
    background-repeat: no-repeat;
 }
 .paragraph-explanation{
    line-height: 1.6;
    font-size: 1.125rem;
 }
 .offers-buttons{
background-color: #fff;
justify-content: space-around;
display: flex;
padding: .2rem;
border: 3px dotted rgba(0, 255, 255, 0.685);
border-radius:25px ;
 }
 #button1{
background-color: $light-bluish;
border-radius:25px ;
padding: .4rem .5rem;
border: none;
cursor: pointer;
 }
 .button2n3{
background-color: #fff;
padding: .2rem .3rem;
border-radius:25px ;
border: none;
cursor: pointer;
 }
 .offers-card-1{
    padding: 1rem;
    margin-block: 1rem;
    background-color: #ffffffec;
    border-radius: 25px;
 }
 .offers-card-1 >ul{
    list-style-type: none;
 }
.offers-picture{
    width: 100%;
    max-width: 35rem;
    padding-block: .5rem;
    border-radius: 25px;

}
.activitieslist{
    color: $the-blue;
}
.white-uppercase{
    color: $white;
    text-transform: uppercase;
}
.number{
    color: rgba(255, 192, 203, 0.747);
    font-size: 1.8rem;
    text-align: center;

}
.centercontact{
    font-size: 1rem;
    color: white;
padding-block: 1rem;

}
.centeritems{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.diagonal{
    position: relative;
    background-color: $the-blue;
}
.diagonal:after{
    content:"";
    background: $the-blue;
    position: absolute;
    inset: 0;
    transform: skewY(-10deg);
    z-index: -1;
}
.diagonal2{
    position: relative;
    background-color: $pinkish;
    margin-top:2rem ;
}
.diagonal2:after{
    content:"";
    background: $pinkish;
    position: absolute;
    inset: 0;
    transform: skewY(10deg);
    z-index: -1;
}
.diagonal-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $white;
}
.diagonal-content-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.small-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $the-blue;
    padding: .4em;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 0 6px $white;
}
.border-yellow{
    border: 2px dotted $yellowish;
}
.border-blue{
    border: 2px dotted $the-blue;
}
.border-cyan{
    border: 2px dotted $light-bluish;
}


@media (min-width:35em) and (max-width:60em) {
    .wavy{
        min-height: 28rem;
    }
    .favourite-images{
        border-radius: 15px;
        width:65vw;
    }
}
@media (min-width : 60em) {
    
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .size-hero-image{
        height: 35rem;
    }
    .header-hero{
        font-size: 4rem;
    }
    .section1{
        width: 30%;
    }
    .section2{
        width: 57%;
    }
   
    .wavy{
        min-height: 36rem;
    }
    .cards{
        display: flex;
        gap: 1rem;
    justify-content: center;
    }
    .favourite-images{
        border-radius: 15px;
        // max-width:max( 85vw ,10px);
        width:50%;
    }
    .happyhour-maincontainer{
        display: flex;
        gap: 2rem;
        width: 85%;
    
     }
    .happy-image{
        justify-content: end;
    }
    .message{
        transform: translate( 100% , -43px);
    }
    .section-happy-hour{
width: 100%;
    }
    .happyhour-explanation{
        width: 100%;
line-height: 1.4rem;
    }
    .paragraph-explanation{
        max-width: 60%;
        margin: 0 auto;
    }
    .offers-buttons{
        max-width: 40%;
        margin: 0 auto;
    }
    .offers-picture{
        max-width: 30rem;
    }
    .offers-card-1{
        display: flex;
    }
    .section1-offerscard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .3rem;
    }
    .diagonal:after{
        transform: skewY(-3deg);
    }
    .diagonal2:after{
        transform: skewY(-5deg);
    }
   
}
