<app-navbar></app-navbar>
<section class="hero">
  <div class="section1">
    <p class="welcome-message">Karibu watoto wetu!</p>
    <h1 class="header-hero">
      best <span class="pinkish">play</span> <br />
      <span class="pinkish">areas</span> for kids
    </h1>
    <a routerLink="" class="read-more">Read more</a>
  </div>
  <div class="section2">
    <img src="/assets/blackhero2.png" class="size-hero-image" alt="" />
  </div>
</section>
<div class="mainsection">
  <section class="wavy">
    <div class="center">
      <h2 class="miniheadings">What is unique about us!</h2>
    </div>
    <img src="/assets/diversity.png" class="diversityimg" alt="" srcset="" />
  </section>
  <div class="cards">
    <div class="card">
      <img
        src="/assets/Crayons.png"
        loading="lazy"
        class="cardimages cardimages-blue"
        alt=""
        srcset=""
      />
      <h3>Area for Babies</h3>
      <p class="card-explanation">
        Children with better pre-reading skills , richer vocabularies
      </p>
      <a routerLink="">read more <fa-icon [icon]="arrow"></fa-icon></a>
    </div>
    <div class="card">
      <img
        src="/assets/Playing.png"
        loading="lazy"
        class="cardimages cardimages-light-blue"
        alt=""
        srcset=""
      />
      <h3>Area for Babies</h3>
      <p class="card-explanation">Work without play makes jack a dull boy</p>
      <a routerLink="">read more <fa-icon [icon]="arrow"></fa-icon></a>
    </div>
    <div class="card">
      <img
        src="/assets/Mother.png"
        loading="lazy"
        class="cardimages cardimages-yellow"
        alt=""
        srcset=""
      />
      <h3>Area for Babies</h3>
      <p class="card-explanation">
        Children who grow up oved are more confident.
      </p>
      <a routerLink="">read more <fa-icon [icon]="arrow"></fa-icon></a>
    </div>
  </div>

  <div class="happyhour-maincontainer">
    <div class="section-happy-hour">
      <div class="happy-image">
        <img
          src="assets/Kid-water.jpg"
          class="favourite-images"
          alt=""
          srcset=""
        />
      </div>

      <div class="message">
        <h5>Happy Hours</h5>
        <p>Mon - Fri : <span>5-6PM </span></p>
        <p>Saturday <span> From6PM </span></p>
        <p>Sunday : <span>From 2PM</span></p>
      </div>
    </div>
    <div class="happyhour-explanation">
      <h3 class="heading-happy">A favourite place <br />for fun and joy</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
        provident qui cumque cum facere quam quod animi blanditiis sed numquam
        molestias modi vel voluptatibus saepe, vero mollitia magni, officia
        quisquam.
      </p>
      <div class="button-happyhour">
        <a routerLink="" class="read-more">Read more</a>
      </div>
    </div>
  </div>
  <div class="center">
   <h2 class="miniheadings">What we offer</h2>
  </div>
  <div class="offers offers-maincontainer">
    <p class="paragraph-explanation">
      our mission is to provide affordable, high quality early education and
      childcare services forworking families to ensure every child still get the
      love they desire and wish to have
    </p>
    <div class="offers-buttons">
      <button id="button1" (click)="backtoentertainment()">
        Entertainment
      </button>
      <button class="button2n3" (click)="showbirthday()">Birthday Party</button>
      <button class="button2n3" (click)="showholiday()">Holidays</button>
    </div>
    <div class="offers-card-1" [style.display]="visible">
      <div class="section1-offerscard">
        <h3 class="heading-happy">Daily entertainments <br />for all family</h3>
      <p class="paragraph-explanation">
        Look into the eyes of a child and see the sparkle aand wander.develp
        these passions and watch then bloom into special adults
      </p>
      <ul *ngFor="let activity of activities" class="activitieslist">
        <li>
          <fa-icon [icon]="marker" [styles]="{ color: '#23416cff' }"></fa-icon
          >{{ activity.name }}
        </li>
      </ul>
      </div>
      <img
        src="/assets/entertainment.jpg"
        loading="lazy"
        alt="floating illustrations in the sky of men flying"
        srcset=""
        class="offers-picture"
      />
    </div>
    <div class="offers-card-1" [style.display]="invisible">
<div class="section1-offerscard">
  <h3 class="heading-happy">Birthday events <br />for all children</h3>
  <p class="paragraph-explanation">
    Look into the eyes of your child and see the growth. consider the good
    times and reflect on the goodness of life
  </p>
  <ul *ngFor="let birthday of birthdays" class="activitieslist">
    <li>
      <fa-icon [icon]="marker" [styles]="{ color: '#23416cff' }"></fa-icon
      >{{ birthday.name }}
    </li>
  </ul>
</div>
      <img
        src="/assets/birthday.jpg"
        loading="lazy"
        alt="floating baloons as illustration of birthday party"
        srcset=""
        class="offers-picture"
      />
    </div>
    <div class="centeritems">
      <h3 class="white-uppercase">enjoy your holiday! call us</h3>
      <h4 class="number">+254 795836437</h4>
      <p class="centercontact">
        or<fa-icon
          [icon]="arrowdown"
          [styles]="{ color: 'white' }"
          size="lg"
        ></fa-icon>
      </p>
      <div class="button-happyhour">
        <a routerLink="" class="read-more">enroll today</a>
      </div>
    </div>
  </div>
  <app-gallery></app-gallery>
  <section class="diagonal">
    <div class="diagonal-content">
      <div class="diagonal-content-flex">
        <p>20+</p>
        <h4>groups</h4>
      </div>
      <div class="diagonal-content-flex">
        <p>10+</p>
        <h4>security personel</h4>
      </div>
      <div class="diagonal-content-flex">
        <p>30+</p>
        <h4>playground areas</h4>
      </div>
    </div>
  </section>
  <section class="diagonal2">
    <div class="diagonal-content">
      <div class="small-card border-yellow">
        <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'yellow', 'padding-right':'.2rem'}" size="lg"></fa-icon>
        <div>
          <h4>free wifi</h4>
          <p>enjoy our playground</p>
        </div>
      </div>
      <div class="small-card border-blue">
        <fa-icon [icon]="circlecheck" size="lg" [styles]="{ 'padding-right':'.2rem'}" size="lg"></fa-icon>
        <div>
          <h4>free wifi</h4>
          <p>enjoy our playground</p>
        </div>
      </div>
      <div class="small-card border-cyan">
        <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'cyan', 'padding-right':'.2rem'}" size="lg"></fa-icon>
        <div>
          <h4>free wifi</h4>
          <p>enjoy our playground</p>
        </div>
      </div>
    </div>
  </section>
  <div class="center">
    <h2 class="miniheadings miniheadings-underline-pink">Our latest news</h2>
</div>
  <section class="news">
  <div class="news-card" *ngFor="let new of news">
    <div class="news-image-container center">
      <img src={{new.src}} class="news-image" alt="news image" srcset="">
    </div>
    <div class="news-body-container">
      <p class="news-body-link">{{new.body}}</p>
      <h6>{{new.title}}</h6>
      <a routerLink="" class="news-link">read more <fa-icon [icon]="arrow"  [styles]="{'color':'$pinkish'}"></fa-icon></a>
    </div>
  </div>
  </section>
  <section class="entertainment-package">
    <div class="center">
      <h2 class="miniheadings miniheadings-underline-pink">choose your entertainment package</h2>
  </div>
  <div class="diagonal-content">
    <div class="small-card border-yellow">
      <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'yellow', 'padding-right':'.2rem'}" size="lg"></fa-icon>
      <div>
        <h4>1000- PREMIUM</h4>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
      </div>
    </div>
    <div class="small-card border-blue">
      <fa-icon [icon]="circlecheck" size="lg" [styles]="{ 'padding-right':'.2rem'}" size="lg"></fa-icon>
      <div>
        <h4>799 - ADVANCED</h4>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
      </div>
    </div>
    <div class="small-card border-cyan">
      <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'cyan', 'padding-right':'.2rem'}" size="lg"></fa-icon>
      <div>
        <h4>500 - PRO</h4>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
      </div>
    </div>
  </div>
  <div class="button-happyhour center">
    <a routerLink="" class="read-more">Learn more</a>
  </div>
  <app-footer></app-footer>
  </section>
</div>
    