<app-navbar></app-navbar>
<section class="hero">
  <div class="section1">
    <p class="welcome-message">Karibu watoto wetu!</p>
    <h1 class="header-hero">
      best play<br />
      <span class="pinkish">areas</span> for<span class="pinkish"> kids</span>
    </h1>
    <p class="header-p">Your go-to hub for kid-approved playgrounds, reliable nannies, and exceptional daycare services. Join the adventure today!</p>
    <a routerLink="services" class="read-more">Read more</a>
  </div>
  <div class="section2">
    <img src="/assets/blackhero2.png" class="size-hero-image" alt="" />
  </div>
</section>
<div class="mainsection">
  <section class="wavy">
    <div class="center">
      <h2 class="miniheadings">What is unique about us!</h2>
    </div>
    <img src="/assets/diversity.png" class="diversityimg" alt="" srcset="" />
  </section>
  <div class="cards">
    <div class="card">
      <img
        src="/assets/Crayons.png"
        loading="lazy"
        class="cardimages cardimages-blue"
        alt=""
        srcset=""
      />
      <h3>Area for Babies</h3>
      <p class="card-explanation">
        Children with better pre-reading skills , richer vocabularies
      </p>
      <a routerLink="blog">read more <fa-icon [icon]="arrow"></fa-icon></a>
    </div>
    <div class="card">
      <img
        src="/assets/Playing.png"
        loading="lazy"
        class="cardimages cardimages-light-blue"
        alt=""
        srcset=""
      />
      <h3>Area for Babies</h3>
      <p class="card-explanation">Work without play makes jack a dull boy</p>
      <a routerLink="blog">read more <fa-icon [icon]="arrow"></fa-icon></a>
    </div>
    <div class="card">
      <img
        src="/assets/Mother.png"
        loading="lazy"
        class="cardimages cardimages-yellow"
        alt=""
        srcset=""
      />
      <h3>Area for Babies</h3>
      <p class="card-explanation">
        Children who grow up oved are more confident.
      </p>
      <a routerLink="blog">read more <fa-icon [icon]="arrow"></fa-icon></a>
    </div>
  </div>
  <div class="open-days">
    <div class="open-days-1">
      <h2>open days</h2>
      <div class="open-days-card">
        <ul><h3>Weekdays</h3>
          <li>Everyday : 5:00AM - 9:00PM</li>
        </ul>
      </div>
      <div class="open-days-card">
        <ul><h3>Weekdays</h3>
          <li>Everyday : 5:00AM - 9:00PM</li>
        </ul>
      </div>
      <div class="open-days-card">
        <ul><h3>Weekdays</h3>
          <li>Everyday : 5:00AM - 9:00PM</li>
        </ul>
      </div>
    </div>
    <div class="open-days-2">
      <img src="assets/Open.svg" alt="" srcset="">
    </div>
  </div>

  <div class="happyhour-maincontainer">
    <div class="section-happy-hour">
      <div class="happy-image">
        <img
          src="assets/Kid-water.jpg"
          class="favourite-images"
          alt=""
          srcset=""
        />
      </div>

      <div class="message">
        <h5>Happy Hours</h5>
        <p>Mon - Fri : <span>5-6PM </span></p>
        <p>Saturday <span> From6PM </span></p>
        <p>Sunday : <span>From 2PM</span></p>
      </div>
    </div>
    <div class="happyhour-explanation">
      <h3 class="heading-happy">A favourite place <br />for fun and joy</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
        provident qui cumque cum facere quam quod animi blanditiis sed numquam
        molestias modi vel voluptatibus saepe, vero mollitia magni, officia
        quisquam.
      </p>
      <div class="button-happyhour">
        <a routerLink="blog" class="read-more">Read more</a>
      </div>
    </div>
  </div>
  <div class="center">
   <h2 class="miniheadings">What we offer</h2>
  </div>
  <div class="offers offers-maincontainer">
    <p class="paragraph-explanation">
      our mission is to provide affordable, high quality early education and
      childcare services forworking families to ensure every child still get the
      love they desire and wish to have
    </p>
    <div class="offers-buttons">
      <button id="button1" (click)="backtoentertainment()">
        Entertainment
      </button>
      <button class="button2n3" (click)="showbirthday()">Birthday Party</button>
      <button class="button2n3" (click)="showholiday()">Holidays</button>
    </div>
    <div class="offers-card-1" [style.display]="visible">
      <div class="section1-offerscard">
        <h3 class="heading-happy">Daily entertainments <br />for all family</h3>
      <p class="paragraph-explanation">
        Look into the eyes of a child and see the sparkle aand wander.develp
        these passions and watch then bloom into special adults
      </p>
      <ul *ngFor="let activity of activities" class="activitieslist">
        <li>
          <fa-icon [icon]="marker" [styles]="{ color: '#23416cff' }"></fa-icon
          >{{ activity.name }}
        </li>
      </ul>
      </div>
      <img
        src="/assets/entertainment.jpg"
        loading="lazy"
        alt="floating illustrations in the sky of men flying"
        srcset=""
        class="offers-picture"
      />
    </div>
    <div class="offers-card-1" [style.display]="invisible">
<div class="section1-offerscard">
  <h3 class="heading-happy">Birthday events <br />for all children</h3>
  <p class="paragraph-explanation">
    Look into the eyes of your child and see the growth. consider the good
    times and reflect on the goodness of life
  </p>
  <ul *ngFor="let birthday of birthdays" class="activitieslist">
    <li>
      <fa-icon [icon]="marker" [styles]="{ color: '#23416cff' }"></fa-icon
      >{{ birthday.name }}
    </li>
  </ul>
</div>
      <img
        src="/assets/birthday.jpg"
        loading="lazy"
        alt="floating baloons as illustration of birthday party"
        srcset=""
        class="offers-picture"
      />
    </div>
    <div class="centeritems">
      <h3 class="white-uppercase">enjoy your holiday! call us</h3>
      <h4 class="number">+254 795836437</h4>
      <p class="centercontact">
        or<fa-icon
          [icon]="arrowdown"
          [styles]="{ color: 'white' }"
          size="lg"
        ></fa-icon>
      </p>
      <div class="button-happyhour">
        <a routerLink="" class="read-more">enroll today</a>
      </div>
    </div>
  </div>
  <app-gallery></app-gallery>
  <app-diagonals></app-diagonals>
  <app-news></app-news>
  <app-entertainment-package></app-entertainment-package>
  <app-footer></app-footer>
</div>
    