<div class="login-main-container">
    <div class="logo">
      <a routerLink="">
        <img
        class="logo"
        src="assets/logo2.png"
        width="160px"
        height="100px"
        alt=""
        srcset=""
      />
      </a>
    </div>
    <div class="form-container">
      <form class="form" [formGroup]="passwordForm" (ngSubmit)="submit()">
          <label for="">Your Name</label>
          <input type="text" formControlName="name" id="Yourname" />
          <div
            *ngIf="f['name'].touched && f['name'].invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f['name'].errors && f['name'].errors['required']">
              Name is required.
            </div>
            <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
              Name should be 3 character.
            </div>
          </div>
          <label for="">Your email</label>
          <input type="email" name="" id="" formControlName="email" />
          <div
            *ngIf="f['email'].touched && f['email'].invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f['email'].errors && f['email'].errors['required']">
              Email is required.
            </div>
  
            <div *ngIf="f['email'].errors && f['email'].errors['email']">
              Please, enter valid email address.
            </div>
          </div>
        <label for="password1">Your password</label>
        <input type="password" name="" id="password1" formControlName="password1"/>
        <div
            *ngIf="f['password1'].touched && f['password1'].invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f['password1'].errors && f['password1'].errors['required']">
              password is required.
            </div>
  
            <div *ngIf="f['password1'].errors && f['password1'].errors['password1']">
              Please, enter a valid password.
            </div>
          </div>
        <label for="password2">Confirm password</label>
        <input type="password" name="" id="password2" formControlName="password2"/>
        <div
            *ngIf="f['password2'].touched && f['password2'].invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f['password2'].errors && f['password2'].errors['required']">
              confirm password is required.
            </div>
  
            <div *ngIf="f['password2'].errors && f['password2'].errors['password2']">
              Please confirm your password.
            </div>
          </div>
          <div class="error-message alert" *ngIf="passwordForm.errors?.['PasswordNoMatch']">
            Password does'nt match.
          </div>
          <div>
                  <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
          </div>
        <button type="submit">submit</button>
        <p>Have an account? <a routerLink="/auth0">login here </a></p>
      </form>
    </div>
  </div>
  