@import 'src/themes.scss';
.center{
    justify-content: center;
  align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: $the-blue;
}
.img{
    width:30px;
    height: 30px;
    border-radius: 50%;
}
.prof{
    .profile{
        display: flex;
        outline: 1px solid rgba(255, 255, 255, 0.362);
        border-radius: 20px;
        color: $white;
        padding: .1em .3em;
        margin: .3em;
        .email{
            font-size: small;
        }
        .welcoming{
            font-size: small;
        }
    }
    a{
        cursor: pointer;
        color: white;
    .powericon{
        margin-right: .3em;
    }
    }
    display: flex;
}
