<app-navbar></app-navbar>
<div class="body">
  <div class="educational-programs center">
    <h1 class="center">
      <span class="headings-h3-1 headings-h3">Discover our</span><br /><span
        class="headings-h3-2 headings-h3 center"
        >educational programs</span
      >
    </h1>
    <div class="educational-programs-container">
      <div class="card1-educational-programs card-educational-styling center">
        <div>
          <img
            src="assets/Dino-pink.png"
            class="img-Dinos"
            alt="A dinosour image"
            srcset=""
          />
        </div>
        <h3>early education</h3>
        <p class="card-educational-programs">
          We complement what our good Kenyan teachers have done with practical
          lesson which are structured and guided
        </p>
        <a routerLink="" class="news-link"
          >read more
          <fa-icon [icon]="arrow" [styles]="{ color: '$pinkish' }"></fa-icon
        ></a>
      </div>
      <div class="card2-educational-programs card-educational-styling center">
        <div>
          <img
            src="assets/Dino-dark.png"
            class="img-Dinos"
            alt="A dinosour image"
            srcset=""
          />
        </div>
        <h3>early education</h3>
        <p class="card-educational-programs">
          We complement what our good Kenyan teachers have done with practical
          lesson which are structured and guided
        </p>
        <a routerLink="" class="news-link"
          >read more
          <fa-icon [icon]="arrow" [styles]="{ color: '$pinkish' }"></fa-icon
        ></a>
      </div>
      <div class="card3-educational-programs card-educational-styling center">
        <div>
          <img
            src="assets/Dino-yellow.png"
            class="img-Dinos"
            alt="A dinosour image"
            srcset=""
          />
        </div>
        <h3>early education</h3>
        <p class="card-educational-programs">
          We complement what our good Kenyan teachers have done with practical
          lesson which are structured and guided
        </p>
        <a routerLink="" class="news-link"
          >read more
          <fa-icon [icon]="arrow" [styles]="{ color: '$pinkish' }"></fa-icon
        ></a>
      </div>
    </div>
  </div>
  <div class="explanation-container">
    <div class="explanation-container-flex">
      <div class="center">
        <div class="absolute">
          <img
            src="assets/child.webp"
            class="explanation-container-img relative"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div class="explanation-container-words center">
        <h1 class="center">
          <span class="headings-h3-1 headings-h3">Why early child</span
          ><br /><span class="headings-h3-2 headings-h3 center"
            >education matters</span>
        </h1>
        <p>This is why we insist on practical lessons from the early childhood of the child. There is a very important aspect in early child development</p>
        <a routerLink="" class="read-more">Read more</a>
      </div>
    </div>
  </div>
</div>
