<app-navbar></app-navbar>
<div class="body">
  <div class="educational-programs center">
    <h1 class="center">
      <span class="headings-h3-1 headings-h3">Discover our</span><br /><span
        class="headings-h3-2 headings-h3 center"
        >educational programs</span
      >
    </h1>
    <div class="educational-programs-container">
      <div class="card1-educational-programs card-educational-styling center">
        <div>
          <img
            src="assets/Dino-pink.png"
            class="img-Dinos"
            alt="A dinosour image"
            srcset=""
          />
        </div>
        <h3>early education</h3>
        <p class="card-educational-programs">
          We complement what our good Kenyan teachers have done with practical
          lesson which are structured and guided
        </p>
        <a routerLink="" class="news-link"
          >read more
          <fa-icon [icon]="arrow" [styles]="{ color: '$pinkish' }"></fa-icon
        ></a>
      </div>
      <div class="card2-educational-programs card-educational-styling center">
        <div>
          <img
            src="assets/Dino-dark.png"
            class="img-Dinos"
            alt="A dinosour image"
            srcset=""
          />
        </div>
        <h3>early education</h3>
        <p class="card-educational-programs">
          We complement what our good Kenyan teachers have done with practical
          lesson which are structured and guided
        </p>
        <a routerLink="" class="news-link"
          >read more
          <fa-icon [icon]="arrow" [styles]="{ color: '$pinkish' }"></fa-icon
        ></a>
      </div>
      <div class="card3-educational-programs card-educational-styling center">
        <div>
          <img
            src="assets/Dino-yellow.png"
            class="img-Dinos"
            alt="A dinosour image"
            srcset=""
          />
        </div>
        <h3>early education</h3>
        <p class="card-educational-programs">
          We complement what our good Kenyan teachers have done with practical
          lesson which are structured and guided
        </p>
        <a routerLink="" class="news-link"
          >read more
          <fa-icon [icon]="arrow" [styles]="{ color: '$pinkish' }"></fa-icon
        ></a>
      </div>
    </div>
  </div>
  <div class="explanation-container">
    <div class="explanation-container-flex">
      <div class="center">
        <div class="absolute">
          <img
            src="assets/child.webp"
            class="explanation-container-img relative"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div class="explanation-container-words center">
        <h1 class="center">
          <span class="headings-h3-1 headings-h3">Why early child</span
          ><br /><span class="headings-h3-2 headings-h3 center"
            >education matters</span
          >
        </h1>
        <p id="paragraph">
          This is why we insist on practical lessons from the early childhood of
          the child. There is a very important aspect in early child development
        </p>
        <div class="center explanation-container-button">
          <a routerLink="" class="read-more">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="what-we-offer-maincontainer">
    <h1 class="center">
      <span class="headings-h3-1 headings-h3">What we offer</span>
    </h1>
    <div class="center">
      <p class="what-we-offer-p">
        Our mission is to provide <mark>Affordable,</mark>
        <mark>High quality</mark> and <mark>practical</mark> lessons to Children
        in their early stages
      </p>
    </div>
    <div class="what-we-offer-container">
      <div class="what-we-offer-card">
        <div>
          <img
            src="assets/draw.png"
            class="what-we-offer-img"
            alt=""
            srcset=""
          />
        </div>
        <div class="what-we-offer-explanation">
          <h5>Art classes</h5>
          <p>
            We ensure we boost your childs creativity throug the use of coulour,
            creativity and imagination
          </p>
        </div>
      </div>
      <div class="what-we-offer-card">
        <div>
          <img
            src="assets/party.png"
            class="what-we-offer-img"
            alt=""
            srcset=""
          />
        </div>
        <div class="what-we-offer-explanation">
          <h5>Party places</h5>
          <p>
            We ensure your events are well planned with a perfect environment
            for maximum peace and ambience.
          </p>
        </div>
      </div>
      <div class="what-we-offer-card">
        <div>
          <img
            src="assets/healthy.png"
            class="what-we-offer-img"
            alt=""
            srcset=""
          />
        </div>
        <div class="what-we-offer-explanation">
          <h5>Healthy foods</h5>
          <p>
            In a world where there is a rise in unhealthy living habits, we
            maintin a healthy diet to ensure our children are strong.
          </p>
        </div>
      </div>
      <div class="what-we-offer-card">
        <div>
          <img
            src="assets/languages.png"
            class="what-we-offer-img"
            alt=""
            srcset=""
          />
        </div>
        <div class="what-we-offer-explanation">
          <h5>Language classes</h5>
          <p>
            We want our children to grow up understanding as many languages as
            possible and this will help in communicating comfortably.
          </p>
        </div>
      </div>
      <div class="what-we-offer-card">
        <div>
          <img
            src="assets/activity.png"
            class="what-we-offer-img"
            alt=""
            srcset=""
          />
        </div>
        <div class="what-we-offer-explanation">
          <h5>Activities</h5>
          <p>
            Our curriculum is activity based. We understand the benefit of
            making the theory part practical for better understanding.
          </p>
        </div>
      </div>
      <div class="what-we-offer-card">
        <div>
          <img
            src="assets/specialeducation.png"
            class="what-we-offer-img"
            alt=""
            srcset=""
          />
        </div>
        <div class="what-we-offer-explanation">
          <h5>Special education</h5>
          <p>
            We offer special education for our children who are differently
            enabled and who need extra care.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials">
    <h1 class="center">
      <span class="headings-h3-2 headings-h3">What parents say</span>
    </h1>
    <div class="center">
      <p class="what-we-offer-p">
        Those who have tried our services have this to say...
      </p>
    </div>
    <div class="testimonials-maincontainer">
      <div class="testimonials-card-maincontainer pink">
        <div class="testimonials-card1 testimonials-pink">
          <p>
            <fa-icon [icon]="openingquotes" size="lg"></fa-icon> programs focus
            on the well-being of the child and the peace of mind of the parent
            when their child is within the premises. this tells you where your
            treasure is there will your heart also be
          </p>
        </div>
        <div class="center">
          <div class="holder">
            <fa-icon
              [icon]="shoes"
              size="xs"
              [styles]="{ color: 'pink' }"
            ></fa-icon>
            <fa-icon
              [icon]="shoes"
              size="lg"
              [styles]="{ color: 'pink' }"
            ></fa-icon>
            <fa-icon
              [icon]="shoes"
              size="2x"
              [styles]="{ color: 'pink' }"
            ></fa-icon>
            <img
              src="assets/Dino-dark.png"
              class="what-we-offer-img"
              alt=""
              srcset=""
            />
            <div>
              <h6>Polland Onderi</h6>
              <p id="testimonial-p">Father of two</p>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonials-card-maincontainer blue">
        <div class="testimonials-card1 testimonials-blue">
          <p>
            <fa-icon [icon]="openingquotes" size="lg"></fa-icon> programs focus
            on the well-being of the child and the peace of mind of the parent
            when their child is within the premises. this tells you where your
            treasure is there will your heart also be
            
          </p>
        </div>
        <div class="center">
          <div class="holder">
            <fa-icon
              [icon]="shoes"
              size="xs"
              [styles]="{ color: '#23416cff' }"
            ></fa-icon>
            <fa-icon
              [icon]="shoes"
              size="lg"
              [styles]="{ color: '#23416cff' }"
            ></fa-icon>
            <fa-icon
              [icon]="shoes"
              size="2x"
              [styles]="{ color: '#23416cff' }"
            ></fa-icon>
            <img
              src="assets/Dino-dark.png"
              class="what-we-offer-img"
              alt=""
              srcset=""
            />
            <div>
              <h6>Polland Onderi</h6>
              <p id="testimonial-p">Father of two</p>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonials-card-maincontainer yellowish">
        <div class="testimonials-card1 testimonials-yellowish">
          <p>
            <fa-icon [icon]="openingquotes" size="lg"></fa-icon> programs focus
            on the well-being of the child and the peace of mind of the parent
            when their child is within the premises. this tells you where your
            treasure is there will your heart also be
            <!-- <fa-icon [icon]="closingquotes" size="lg"></fa-icon> -->
          </p>
        </div>
        <div class="center">
          <div class="holder">
            <fa-icon
              [icon]="shoes"
              size="xs"
              [styles]="{ color: 'yellow' }"
            ></fa-icon>
            <fa-icon
              [icon]="shoes"
              size="lg"
              [styles]="{ color: 'yellow' }"
            ></fa-icon>
            <fa-icon
              [icon]="shoes"
              size="2x"
              [styles]="{ color: 'yellow' }"
            ></fa-icon>
            <img
              src="assets/Dino-dark.png"
              class="what-we-offer-img"
              alt=""
              srcset=""
            />
            <div>
              <h6>Polland Onderi</h6>
              <p id="testimonial-p">Father of two</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
