@import "src/themes.scss";
.body {
  margin-top: 5rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.headings-h3 {
  font-size: 1.9rem;
  text-decoration: underline wavy;
  color: $the-blue;
  text-transform: capitalize;
  
  display: inline;
}

.img-Dinos{
  height: 10rem;
}
.card-educational-styling{
  color: #fff;
  padding: .7em;
  margin: 1rem;
  border-radius: 25px;
  width: 16rem;
}
.card1-educational-programs{
  background-color: $pinkish;
  border: 2px dotted white;
  box-shadow: 0 0 0 8px $pinkish;
}
.card2-educational-programs{
  background-color: $the-blue;
  color: #fff;
  box-shadow: 0 0 0 8px $the-blue;
}
.card3-educational-programs{
  background-color: $yellowish;
  box-shadow: 0 0 0 8px $yellowish;
}
.card-educational-programs{
  line-height: 1.6;
  font-size: 0.9rem;
  padding-block: .5rem;
}
.news-link{
  color: #fff;
}
.educational-programs-container{
 display: flex;
 gap: 1rem;
 justify-content: center;
 flex-wrap: wrap;
 max-width: 1000px;
 padding-inline: 3rem;
 margin-block: 1rem;
}
.explanation-container{
  background-color: rgba(255, 192, 203, 0.158);
  display: flex;
  padding-block: 6em;
}
.explanation-container-img{
  width: 20rem;
  border-radius: 20px;
  margin: 0 auto;
}
.explanation-container-flex{
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.explanation-container-words{
  // margin-left: 1rem;
  margin-block: 1rem;
  max-width: 30rem;
}
.read-more{
  padding: .5em 2em;
  background-color: $yellowish;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  border: 3px dotted $white;
  color: $white;
  border-radius: 30px;
  box-shadow: 0 0 0 6px $yellowish;
}
.what-we-offer-container{
  padding-inline: .3em;
}
.explanation-container-button{
  margin-top: 1rem;
}
#paragraph{
  margin-block: 1em;
}
mark{
  background-color: $the-blue;
  color: #fff;
}
.what-we-offer-p{
  padding-block: 2em;
}
.what-we-offer-img{
  width: 5rem;
}
.what-we-offer-card{
  display: flex;
  padding-block: .5em;
  max-width: 22rem;
}
h5{
  color: $the-blue;
  font-size: 1.2rem;
}
.testimonials{
  max-width: 1000px;
  margin: 0 auto;
}
.what-we-offer-explanation{
  padding-left: .2em;
}
.what-we-offer-container>*p{
  font-size: .9em;
  color: rgba(128, 128, 128, 0.801);
}
.what-we-offer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonials-card-maincontainer{
  max-width: 17rem;
  border-radius: 25px;
  margin-bottom: 2rem;
}
.pink{
  box-shadow: 1.5px 1.5px 1.5px $pinkish;
}
.blue{
  box-shadow: 1.5px 1.5px 1.5px $the-blue;
}
.yellowish{
  box-shadow: 1.5px 1.5px 1.5px $yellowish;
}
.testimonials-card1{
  padding: .8em;
  border-radius: 25px;
}
.testimonials-pink{
  background-color: $pinkish;
}
.testimonials-blue{
  background-color: $the-blue;
}
.testimonials-yellowish{
  background-color: $yellowish;
}
.testimonials-card-maincontainer>*p{
  color: #fff;
}
.holder{
  display: flex;
justify-content: center;
align-items: center;
}
#testimonial-p{
  color: $the-blue;
}
.testimonials-maincontainer{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width:34em) {
 .headings-h3{
    font-size: 2.6rem;
  text-decoration: none;
  background-position: bottom;
  background-size: (100% 30%);
  background-repeat: no-repeat;
 }
 .headings-h3-1{
  background-image: linear-gradient($pinkish, $pinkish);
}
.headings-h3-2{
  background-image: linear-gradient($yellowish, $yellowish);
}
.absolute{
  border: 2px dotted $the-blue;
  border-radius: 20px;
}
.relative{
  position: relative;
  transform: translate(17px, 8px);

}
}