.main{
    // background-image: url('/assets/404-error.svg');
    height: 100svh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.error{
    // background-size: cover;
    height: 100svh;
}