<nav class="main-container">
    <div>
        <a routerLink=""><img src="assets/favicon.png" alt="logo" srcset=""></a>
    </div>

    <div>
        <ul class="section1">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="">About us</a></li>
            <li><a routerLink="">Blog</a></li>
            <li><a routerLink="">Contact us</a></li>
        </ul>
    </div>
    <div class="div2">
        <ul class="section2">
            <!-- place icon in the search word -->
            <li><a routerLink="" class="searchouter borderyellow"><fa-icon [icon]="search" class="searchinner backgroundyellow"></fa-icon></a></li>
            <li><a class="button" routerLink="maps"class="searchouter borderpink"><fa-icon [icon]="maps" class="searchinner backgroundpinkish"></fa-icon></a></li>
        </ul>
    </div>
</nav>
