
@import 'src/themes.scss';

.main-container{
    display: flex;
    width: 100%;
    background-color: $the-blue;
    padding-block: 1em;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.664);
    justify-content: space-around;
    position: fixed;
    z-index: 9999;
top: 0;
    
}
.section1,
.section2
{
    display: flex;
    gap: 3rem;
    
}
.div2{
    display: flex;
    justify-content: flex-end;
}
li{
    list-style-type: none;
}
li a{
    color: $white;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 900;
    letter-spacing: 1.2px;
    cursor: pointer;
   
}
.searchouter{
    padding:.7em .3em ;
    background-color: $the-blue;
    border-radius: 50%;
}
.searchinner{
    padding: .4em;
    border-radius: 50%;
    height: 2em;
display: inline-block;
width: 2em;
}
.backgroundyellow{
    background-color: $yellowish;
}
.borderyellow{
    border: 3px dotted $yellowish;
}
.backgroundpinkish{
    background-color: $pinkish;
}
.borderpink{
    border: 3px dotted $pinkish;
}
