<nav class="main-container">
    <div>
        <img src="assets/favicon.png" alt="logo" srcset="">
    </div>
    <div>
        <ul class="section1">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="">About us</a></li>
            <li><a routerLink="">Blog</a></li>
            <li><a routerLink="">Contact us</a></li>
        </ul>
    </div>
    <div class="div2">
        <ul class="section2">
            <!-- place icon in the search word -->
            <li><a routerLink="">Search</a></li>
            <li><a class="button" routerLink="">Visit us</a></li>
        </ul>
    </div>
</nav>
