<!-- <nav class="main-container">
   
    <div class="div2">
        <ul class="section2"> -->
            <!-- place icon in the search word -->
<!--             
            <li><a routerLink="" class="searchouter borderyellow"><fa-icon [icon]="search" class="searchinner backgroundyellow"></fa-icon></a></li>
            <li><a class="button" routerLink="maps"class="searchouter borderpink"><fa-icon [icon]="maps" class="searchinner backgroundpinkish"></fa-icon></a></li>
        </ul>
    </div>
</nav> -->



<header class="primary-header flex">
    <div class="logo1">
        <a routerLink=""><img class="logo" src="assets/logo2.png" width="110px" height="50px" alt="" srcset=""></a>
    </div>
    <button aria-controls="primary-navigation" aria-expanded="false" class="mobile-nav-toggle"><span class="sr-only">Menu</span></button>
    <!-- or instead of using the span class to add the menu text you can use aria-label -->
    <nav class="space-around">
        <ul id="primary-navigation" class="primary-navigation flex" data-attribute="false">
            <li >
                <a routerLink="" class="active">
                    <span aria-hidden="true"></span>Home
                </a>
            </li>
            <li >
                <a routerLink="/about-us">
                    <span aria-hidden="true"></span>About us
                </a>
            </li>
            <li class="active">
                <a routerLink="/blog">
                    <span aria-hidden="true"></span>Blog
                </a>
            </li>
       
        
            <li class="active">
                <a routerLink="/contact-us">
                    <span aria-hidden="true"></span>Contact us
                </a>
            </li>
            <li class="active primarymodes">
                <a routerLink="/task">
                    <span aria-hidden="true" class="black"><fa-icon [icon]="fatask"></fa-icon> Plan</span>
                </a>
            </li>
        </ul>
        <ul id="primary-navigation" class="primary-navigation flex section2 " data-attribute="false">
            <li><a routerLink="" class="searchouter borderyellow"><fa-icon [icon]="search" class="searchinner backgroundyellow"></fa-icon></a></li>
            <li><a class="button" routerLink="maps"class="searchouter borderpink"><fa-icon [icon]="maps" class="searchinner backgroundpinkish"></fa-icon></a></li>
        </ul> 
    </nav>
</header>

