<section class="entertainment-package">
    <div class="center">
      <h2 class="miniheadings miniheadings-underline-pink">choose your entertainment package</h2>
  </div>
  <div class="diagonal-content">
    <div class="small-card border-yellow">
      <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'yellow', 'padding-right':'.2rem'}" size="lg"></fa-icon>
      <div>
        <h4>1000- PREMIUM</h4>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
      </div>
    </div>
    <div class="small-card border-blue">
      <fa-icon [icon]="circlecheck" size="lg" [styles]="{ 'padding-right':'.2rem'}" size="lg"></fa-icon>
      <div>
        <h4>799 - ADVANCED</h4>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
      </div>
    </div>
    <div class="small-card border-cyan">
      <fa-icon [icon]="circlecheck" size="lg" [styles]="{'color':'cyan', 'padding-right':'.2rem'}" size="lg"></fa-icon>
      <div>
        <h4>500 - PRO</h4>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
        <p>enjoy our playground</p>
      </div>
    </div>
  </div>
  <div class="button-happyhour center">
    <a routerLink="" class="read-more">Learn more</a>
  </div>
  </section>