@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.flex{                       
    display: flex;
    gap: var(--gap, 1rem);    
    }