@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'themes.scss';
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.flex{                       
    display: flex;
    gap: var(--gap, 1rem);    
    }
.center
{
        text-align: center;
        justify-content: center;align-items: center;
        display: flex;
}
.miniheadings{
    text-align:center;
    margin-block: 2rem;
    font-size: 2.4rem;
    color: $the-blue;
    text-transform: capitalize;
    text-decoration: underline wavy $the-blue;
}
.button-happyhour{
    margin-block: 1.5rem;
 }
 .read-more{
    padding: .5em 2em;
    background-color: $yellowish;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    border: 3px dotted $white;
    color: $white;
    border-radius: 30px;
    box-shadow: 0 0 0 6px $yellowish;
}


@media (min-width:35em) and (max-width:60em) {
    .miniheadings{
        font-size: 3rem;
        text-decoration: none;
        background-image: linear-gradient($pinkish, $pinkish);
    background-position: bottom;
    background-size: (100% 30%);
    background-repeat: no-repeat;
    }
}



@media (min-width : 60em) {

    .miniheadings{
        font-size: 3.4rem;
        text-decoration: none;
        background-image: linear-gradient($pinkish, $pinkish);
    background-position: bottom;
    background-size: (100% 30%);
    background-repeat: no-repeat;
    }
}