
$light-bluish: #b8d6ffff;
$white:#ffff;
$the-blue:#23416cff;
$pinkish:#e0a8d9ff;
$yellowish:#f3ca40ff;
$clr-primary:#ED254E;
$clr-secondary:#011936;
$clr-tertiary:#465662;
$clr-clear:#C2EABD;
$clr-yeellow:#f9dc5c;
$clr-white:#fff
