<div class="login-main-container">
    <div class="logo">
      <img class="logo" src="assets/logo2.png" width="160px" height="100px" alt="" srcset="">
    </div>
    <div class="form-container">
      
      <form class="form">
        <label for="">Your Name</label>
        <input type="text" name="" id="">
        <label for="">Your password</label>
        <input type="password" name="" id="">
        <button type="submit">submit</button>
        <p class="register">Don't have an account? <a routerLink="/auth0/register">register here </a></p>
        <div class="or">
  <span class="or-letter">OR</span>
        </div>
      </form>
      <div class="google">
        <button class="google-button">Google</button>
      </div>
      
    </div>
    
  </div>
  