@import 'src/themes.scss';
.login-main-container{
    background-color:$the-blue ;
    display: flex;
    justify-content: center;
    height: 100svh;
    align-items: center;
    flex-direction: column;
}
.logo{
    padding-bottom: .6em;
}
:is(.form-container){
    background-color: $yellowish;
    border-radius: 20px;
    width:min(90% ,500px );
    color:$the-blue ;
}
:is(input){
    padding-block: .6em;
    outline: transparent;
    border-radius: 10px;

}
:is(button){
    background-color: $the-blue;
    padding-block: .6em;
    outline: transparent;
    border-radius: 10px;
    margin-top: .9rem;
    color: $yellowish;
}
:is(button:hover){
    background-color: $pinkish;
    color: $the-blue;
}
.submit{
    padding-block: .6em;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.register{
    padding-block: .9em;
}
.or{
    height: 1px;
    background: $the-blue;
}
.or-letter{
position: relative;
top: -12px;
right: -43%;
padding: 0;
background: $yellowish;
padding: .3em;
}
.google{
    padding-inline: 1em;
    padding-bottom: .5em;
}
.google-button{
    width: 100%;
}
.alert{
    color: red;
}