<div class="login-main-container">
    <div class="logo">
      <img class="logo" src="assets/logo2.png" width="160px" height="100px" alt="" srcset="">
    </div>
    <div class="form-container">
      
      <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
        <label for="">Your Name</label>
        <input type="text" name="yourName" id="yourName" formControlName="yourName">
        <div
        *ngIf="f['yourName'].touched && f['yourName'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['yourName'].errors && f['yourName'].errors['required']">
          Your Name is required.
        </div>
      </div>
        <label for="">Your password</label>
        <input type="password" name="yourPassword" id="yourPassword" formControlName="yourPassword">
        <div
        *ngIf="f['yourPassword'].touched && f['yourPassword'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['yourPassword'].errors && f['yourPassword'].errors['required']">
          password is required.
        </div>

        <div *ngIf="f['yourPassword'].errors && f['yourPassword'].errors['yourPassword']">
          Please, enter a valid password.
        </div>
      </div>
        <button type="submit">submit</button>
        <!-- <p class="register">Don't have an account? <a routerLink="/auth0/register">register here </a></p> -->
        <p class="register">Don't have an account? <a routerLink="/dashboard">register here </a></p>

        <div class="or">
  <span class="or-letter">OR</span>
        </div>
      </form>
      <div class="google">
        <!-- <button class="google-button">Login with Google</button> -->
        <div id="g_id_onload"
     data-client_id="333920602884-sp9i60ad2svcm3l1p92jl0oumd35nvqb.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="handleCredentialResponse"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="icon"
     data-shape="square"
     data-theme="outline"
     data-text="signin_with" 
     data-size="large">
</div>
<!-- <div id="g_id_onload"
     data-client_id="333920602884-sp9i60ad2svcm3l1p92jl0oumd35nvqb.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:3000/api/login"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="medium"
     data-logo_alignment="left">
</div> -->
      </div>
    </div>
    
  </div>
  