<footer class="footer">
    <div class="footer-maincontainer">
      <div class="footer1 footer-space footer-max-width">
        <div class="center">
          <img src="/assets/favicon.png" alt="logo here" class="footer-content-space">
        </div>
        <div class="paragrapg-explanation">
           adipisicing elit. Deserunt quaerat repudiandae, quis dicta, esse suscipit voluptatibus, unde ad iure voluptatem rem corrupti modi dolor! Minima accusamus deleniti autem minus impedit.
        </div>
        <div class="icons">
          <a href="https://wa.me/+254795836437" target="_blank"><img src="/assets/whatsapp.png" class="icons-images" alt="" srcset=""></a>
          <a href="https://www.linkedin.com/in/polland-onderi-0123351b2/" target="_blank"><img src="/assets/linkedin.png" class="icons-images" alt="" srcset=""></a>
          <a href=""><img src="/assets/facebook.png" class="icons-images" alt="" srcset=""></a>
          <a href=""><img src="/assets/twitter.png" class="icons-images" alt="" srcset=""></a>
        </div>
      </div>
      <div class="footer2 footer-space footer-max-width">
        <h6 class="footer-h6 center">our contacts</h6>
        <div>
          <div class="footer-contacts">
            <fa-icon [icon]="map" size="lg" [styles]="{'color':'yellow', 'padding-right':'.2rem'}" size="lg"></fa-icon>
            <div>
              <h4>1000- PREMIUM</h4>
              <p>enjoy our playground</p>
            </div>
          </div>
          <div class="footer-contacts">
            <fa-icon [icon]="phone" size="lg" [styles]="{'color':'yellow', 'padding-right':'.2rem'}" size="lg"></fa-icon>
            <div class="footer-content-space">
              <h4>1000- PREMIUM</h4>
              <p>enjoy our playground</p>
            </div>
          </div>
          <div class="footer-contacts">
            <fa-icon [icon]="email" size="lg" [styles]="{'color':'yellow', 'padding-right':'.2rem'}" size="lg"></fa-icon>
            <div class="footer-content-space">
              <h4>1000- PREMIUM</h4>
              <p>enjoy our playground</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer3 footer-space footer-max-width">
        <h6 class="footer-h6 center">our gallery</h6>
        <div class="footer-gallery-container">
        <img src="/assets/birthday.jpg" loading="lazy" alt="" class="footer-gallery" srcset="">
        <img src="/assets/birthday.jpg" loading="lazy" alt="" class="footer-gallery" srcset="">
        <img src="/assets/birthday.jpg" loading="lazy" alt="" class="footer-gallery" srcset="">
        <img src="/assets/birthday.jpg" loading="lazy" alt="" class="footer-gallery" srcset="">
        <img src="/assets/birthday.jpg" loading="lazy" alt="" class="footer-gallery" srcset="">
        <img src="/assets/birthday.jpg" loading="lazy" alt="" class="footer-gallery" srcset="">
      </div>
      <div class="center ">
        <a routerLink="" class="news-link padding-footer-link">see more <fa-icon [icon]="arrow"  [styles]="{'color':'$pinkish'}"></fa-icon></a>
      </div>
        </div>
      <div class="footer4 footer-max-width">
        <h6 class="footer-h6 center">open hours</h6>
       <p>Monday to friday : 4:00AM TO 10:00PM</p> 
       <p>Saturday: 7:00PM - 10:00PM</p> 
       <p> Sunday:Open through</p>
        <div _ngcontent-pxi-c8="" class="open-hours center"><h5 _ngcontent-pxi-c8="">Happy Hours</h5><p _ngcontent-pxi-c8="">Mon - Fri : <span _ngcontent-pxi-c8="">5-6PM </span></p><p _ngcontent-pxi-c8="">Saturday <span _ngcontent-pxi-c8=""> From6PM </span></p><p _ngcontent-pxi-c8="">Sunday : <span _ngcontent-pxi-c8="">From 2PM</span></p></div>
      </div>
    </div>
  </footer>
